.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f7f7f7;
  background-color: #364051;
  text-align: center;
}

.fixed-header {
  width: 100%;
  position: fixed;
  background-color: #364051;
  padding: 10px 0;
  color: #fff;
}

.container-flex {
  margin-right: 2rem;
}

#offcanvasRightLabel {
  color: black;
}

#env_container {
  display: flex;
  float: right;
}

#ConfigCreator {
  margin-top: 1.5rem;
  height: 82%;
}

#header_logo_left {
  content: url('../images/LeftArrow.svg');
}

#header_logo_right {
  content: url('../images/RightArrow.svg');
}

.navbar-brand > img {
  padding: 8px;
}
