* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
}

#executor {
  position: absolute;
}
button {
  font-size: 10px;
  border: 1px solid #000053;
  color: white;
  background: #000053;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background: #12128a;
  border-color: #12128a;
  box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.8);
}

button:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

label,
textarea {
  display: block;
  margin-top: 1rem;
}

textarea {
  width: 100%;
  font: inherit;
  padding: 0.8px;
  margin-bottom: 3px;
  border: 0.3px solid black;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #000053;
}

section {
  width: 50rem;
  max-width: 60%;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

#new_post {
  margin-bottom: 3px;
}
.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item {
  margin: 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem;
}

.post-item h2,
.post-item p {
  margin: 0.5rem 0;
}

.post-item h2 {
  font-size: 1.5rem;
  color: #414141;
}

.post-item button {
  border-color: #920101;
  background: #920101;
}

.post-item button:hover,
.post-item button:active {
  border-color: #dd2929;
  background: #dd2929;
}

#Method_Selector {
  margin-right: 5px;
  font-size: 11px;
  height: 18px;
  margin-top: 0px;
}
#requestUrl {
  width: 71%;
  height: 18px;
  display: inline;
  overflow: hidden;
  margin-right: 0.5em;
  font-size: 11px;
  text-align: left;
}

.Send_Request_normal {
  content: url('../images/send.png');
  height: 18px;
}

.Send_Request_loading {
  content: url('../images/loading.gif');
  height: 24px;
}

#Send_Request:active {
  box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2);
}

#request_execute {
  position: relative;
  width: 100%;
}

.form-controller > label {
  margin-bottom: 1.2px;
  font-size: 12px;
  font-weight: 200;
  font-weight: bold;
}

#section > label {
  margin-bottom: 1.2px;
  font-size: 12px;
  font-weight: 200;
  font-weight: bold;
}

#responseBody_Container {
  border: 1px solid black;
  width: 100%;
  height: 200px;

  overflow-y: auto;
}

#responseBody_Container > pre {
  white-space: pre-wrap;
  word-break: keep-all;
  word-wrap: break-word;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.header h2 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 12px;
  background: #f7f7f7;
  margin-bottom: 2px;
}

.progress-bar {
  height: 16px;
  background: #2196f3;
  width: 0%;
}

.content {
  padding: 100px 0;
  margin-top: 8px;
  margin: 50px auto 0 auto;
  width: 50%;
}

.covered {
  text-align: right;
}

#responseCode > label {
  font-weight: bold;
  font-size: 12px;
}

#responseCode > label:nth-child(3) {
  float: right;
  margin-right: 8px;
}

#requestCode {
  display: flex;
  margin-right: 1rem;
  float: right;
  margin-top: 12px;
  font-size: 11px;
}

#requestCode > span {
  margin-top: 3px;
}
#requestCode > input {
  margin: 3px;
  width: 2.5rem;
  height: 1rem;
}

#newPost_label {
  position: relative;
  font-size: 12px;
}

#dot_color {
  margin-right: 6px;
}

.dot-green {
  height: 10px;
  width: 10px;
  background: linear-gradient(to right, #b4e391 0%, #61c419 50%, #b4e391 100%);
  border-radius: 100%;
  display: inline;
  float: right;
}

.dot-red {
  height: 10px;
  width: 10px;
  background: -webkit-linear-gradient(
    left,
    #efc5ca 0%,
    #d24b5a 50%,
    #ba2737 51%,
    #f18e99 100%
  );
  border-radius: 100%;
  display: inline;
  float: right;
}

.dot-yellow {
  height: 10px;
  width: 10px;
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
  border-radius: 100%;
  display: inline;
  float: right;
}

#jsonAnalyzer {
  position: absolute;
  float: right;
}

#requestBodyType > div {
  display: inline;
  margin: 4px;
  font-size: 14px;
  width: 100%;
  max-width: 87%;
  padding: 20px 0 0;
  height: auto;
}

#requestlabel {
  font-size: 12px;
  font-weight: bold;
}

th {
  width: 12px;
}

td:hover .bi-pen-fill {
  display: inline;
}

.bi-pen-fill {
  display: none;
}

.requestBodyTypeactive {
  margin-top: -1px;
  display: block;
  border: 1px solid #ddd;
}

.requestBodyTypedisabled {
  display: none;
}

#tsum-tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 4px solid white;
}

.pinbox_initial {
  content: url('/src/components/images/pinned_Initial.png');
  position: absolute;
  width: 30px;
  height: 30px;
  /* border: 1px solid #888888; */
  border-radius: 20%;
  margin-left: 29rem;
  margin-top: -6px;
  /* box-shadow: 1px -1px #888888; */
  transition: 0.35s;
  z-index: 1;
}

.pinbox_pinned {
  content: url('/src/components/images/pinned.png');
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 20%;
  margin-left: 28rem;
  margin-top: 3px;
  transition: 0.35s;
  z-index: 1;
}
